$menuWidth: 250px;
$menuWidthClosed: 75px;
$topBarHeight: 100px;
$buttonHeight: 40px;

// COLORS
$colorPrimary: #1874ef;
$colorSecondary: #acacac;
$colorAccent: #ffffff;
$colorBackgroundPrimary: #ffffff;
$colorBackgroundSecondary: #f8f8f8;
$colorBorder: #e5e6eb;
$colorText: #acacac;
$colorError: #e73636;
$colorSuccess: #40c33c;
$colorDisabled: #BABCBF;