@import "../button/button.component";

:host {
    button {
        background: none;
        border: none;
        width: 40px;
        padding: 0;

        &.primary, &.accent, &.secondary {
            background: none;
        }

        &.primary {
            color: $colorPrimary;

            &:hover {
                background-color: rgba($colorPrimary, .15);
                border-color: rgba($colorPrimary, .15);
            }
        }

        &.accent {
            color: $colorAccent;

            &:hover {
                background-color: rgba($colorAccent, .15);
                border-color: rgba($colorAccent, .15);
            }
        }

        &.secondary {
            color: $colorSecondary;

            &:hover {
                background-color: rgba($colorSecondary, .15);
                border-color: rgba($colorSecondary, .15);
            }
        }
    }
}