$menuWidth: 250px;
$topBarHeight: 100px;
$buttonHeight: 40px;

// COLORS
$colorPrimary: #1874ef;
$colorSecondary: #ababab;
$colorBackgroundPrimary: #ffffff;
$colorBackgroundSecondary: #f8f8f8;
$colorBorder: #e5e6eb;
$colorText: #acacac;
$colorError: #e73636;