/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');
@import "variables";

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: {
        family: 'Roboto', sans-serif;
    }
    background-color: $colorBackgroundPrimary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: $colorPrimary;
}