<div class="cardContainer">
    <header *ngIf="header || actions">
        <h2 *ngIf="header">
            <ng-container [ngTemplateOutlet]="header.headerContent"></ng-container>
        </h2>

        <div class="actions" *ngIf="actions">
            <ng-container [ngTemplateOutlet]="actions.actionsContent"></ng-container>
        </div>
    </header>
    <div class="content" *ngIf="content">
        <ng-container [ngTemplateOutlet]="content.contentContent"></ng-container>
    </div>
    <footer *ngIf="footer">
        <ng-container [ngTemplateOutlet]="footer.footerContent"></ng-container>
    </footer>
</div>