@import "../../../../styles/variables";

:host {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $topBarHeight;
    z-index: 98;
    padding-left: $menuWidth;
    background-color: $colorBackgroundPrimary;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    border: {
        bottom: {
            style: solid;
            width: 1px;
            color: $colorBorder;
        };
    }
}