@import "../../../../../styles/variables";

:host {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $menuWidth;
    padding-top: $topBarHeight;
    background-color: $colorBackgroundPrimary;
    z-index: 99;
    border: {
        right: {
            style: solid;
            width: 1px;
            color: $colorBorder;
        }
    }

    .logo {
        position: absolute;
        top: 0;
        right: -1px;
        left: 0;
        height: $topBarHeight;
        background-color: $colorPrimary;
        color: $colorBackgroundPrimary;
        font: {
            weight: 500;
            size: 1.5rem;
        }
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-weight: 700;
        }
    }

    nav {
        display: block;
        position: relative;

        .marker {
            position: absolute;
            top: 0;
            right: 0;
            height: 2rem;
            width: 4px;
            background-color: $colorPrimary;
            opacity: 0;

            &.markerActive {
                transition: all 250ms ease;
                opacity: 1;
            }
        }

        ul {
            display: block;
            list-style: none;
            padding-top: 10px;

            li {
                display: block;
                padding: 0;
                margin: 0;
                line-height: 50px;
                font-weight: 500;

                &.active {
                    a {
                        color: $colorPrimary;
                    }
                }

                a {
                    &:hover {
                        color: $colorPrimary;
                    }
                }
            }
        }
    }
}