{
  "env": "development",
  "port": 8080,
  "title": "App title!",
  "basePath": "/",
  "swaggerControllers": "../app/modules",
  "mongo": {
    "host": "localhost",
    "port": "27017",
    "database": "test",
    "username": "",
    "password": ""
  },
  "accessTokenSecret": "s3cr3t",
  "refreshTokenSecret": "s3cr3t",
  "noFirewallPathParameterName": "x-swagger-router-no-firewall",
  "accessTokenLifetimeMinutes": 15,
  "refreshTokenLifetimeHours": 12
}