@import "../../../../styles/variables";

:host {
    button {
        position: relative;
        cursor: pointer;
        border: {
            style: solid;
            radius: 1.25em;
            width: 1px;
        }
        outline: none;
        box-shadow: none;
        height: $buttonHeight;
        padding: 0 30px;
        overflow: hidden;
        font: {
            weight: 500;
            size: 1em;
        }
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9.75em;
        transition: border-color 0.2s cubic-bezier(0.77, 0, 0.175, 1), background-color 0.2s cubic-bezier(0.77, 0, 0.175, 1), color 0.2s cubic-bezier(0.77, 0, 0.175, 1);

        &.primary {
            background-color: $colorPrimary;
            color: $colorBackgroundPrimary;
            border-color: $colorPrimary;
        }

        &.accent {
            background-color: $colorAccent;
            color: $colorPrimary;
            border-color: $colorAccent;
        }

        &.secondary {
            background-color: $colorSecondary;
            color: $colorBackgroundPrimary;
            border-color: $colorSecondary;
        }

        &:disabled {
            &, &:hover {
                background: $colorDisabled;
                border-color: $colorDisabled;
                color: $colorAccent;
                cursor: default;
            }
        }

        &:hover {
            background-color: lighten($colorPrimary, 5);
            border-color: lighten($colorPrimary, 5);
        }
    }
}