<div class="logo">
    <span>DD</span>Managment
</div>

<div class="login-container">
    <app-form [formGroup]="formGroup" [ngClass]="{'animated shake': wrongCredentials}">
        <h2>Hello!</h2>
        <app-label>
            <app-input placeholder="username" formControlName="username"></app-input>
        </app-label>
        <app-label>
            <app-input type="password" placeholder="password" formControlName="password"></app-input>
        </app-label>
        <div>
            <app-button type="submit" (click)="onFormSubmit()" [disabled]="!formGroup.valid">Sign In</app-button>
        </div>
    </app-form>
</div>

<div class="copyright">
    Photo by Adam Chang on Unsplash
</div>