<div class="logo">
    <span>DD</span>Managment
</div>

<div class="login-container">
    <form [formGroup]="formGroup" [ngClass]="{'animated shake': wrongCredentials}">
        <h2>Hello!</h2>
        <div>
            <app-input placeholder="użytkownik" formControlName="username"></app-input>
        </div>
        <div>
            <app-input type="password" placeholder="hasło" formControlName="password"></app-input>
        </div>
        <div>
            <app-button type="submit" (click)="onFormSubmit($event)" [disabled]="!formGroup.valid">Sign In</app-button>
        </div>
    </form>
</div>

<div class="copyright">
    Photo by Adam Chang on Unsplash
</div>