<app-top-bar></app-top-bar>
<app-menu>
    <app-menu-item path="/dashboard" label="Dashboard"></app-menu-item>
    <app-menu-item path="/stuff-main" label="Suff main">
        <app-menu-item path="/stuff-1" label="stuff1"></app-menu-item>
        <app-menu-item path="/stuff-2" label="stuff2"></app-menu-item>
        <app-menu-item path="/stuff-3" label="stuff3">
            <app-menu-item path="/stuff-4" label="stuff4"></app-menu-item>
            <app-menu-item path="/stuff-5" label="stuff5"></app-menu-item>
        </app-menu-item>
    </app-menu-item>
    <app-menu-item path="/stuff-last" label="Stuff last"></app-menu-item>
</app-menu>
<div id="content">
    <router-outlet></router-outlet>
</div>

