<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <base href="<%= basePath %>">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="dashboard/favicon.ico">
</head>
<body>
<app-root></app-root>


<script type="text/javascript" src="dashboard/runtime.js"></script>
<script type="text/javascript" src="dashboard/polyfills.js"></script>
<script type="text/javascript" src="dashboard/styles.js"></script>
<script type="text/javascript" src="dashboard/vendor.js"></script>
<script type="text/javascript" src="dashboard/main.js"></script>
</body>
</html>